<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content Security Policy Play</title>
</head>
<body>
<ul>
    <li>
        <a href="/nuclear">nuclear</a>
    </li>
    <li>
        <a href="/evil">evil</a>
    </li>
    <li>
        <a href="/read-the-script">read the script</a>
    </li>
    <li>
        <a href="/hashtag-just-sayin">#justsayin</a>
    </li>
    <li>
        <a href="/crypto-once">crypto once</a>
    </li>
</ul>
</body>
</html>