<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content Security Policy Play</title>
</head>
<body>
<div id="main">{{{mainPlaceholder}}}</div>
</body>
<script src="app.min.js"></script>
</html>