<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content Security Policy Play</title>
    <style nonce="Nc3n83cnSAd3wc3Sasdfn939hc3">
        div {
            color: green;
        }
    </style>
</head>
<body>
<a href="/">home</a>

<div id="main">{{{mainPlaceholder}}}</div>
</body>
<script src="bundle.js"></script>
</html>